*{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.table{
    width: 100%;
    text-align: center;
    font-size: 26px;
}

table, th,  td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;

}
.firstCol{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}
.line{
    text-align: center;
}
.secondCol , .thirdCol , .fourthCol , .fifthCol{
    text-align: center;
}

td:hover{
    background-color: aqua;
}